/* disable text selection */
* {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', sans-serif;
    color: #999999;
    background-color: #060606;   
    min-height: 100%;
    background-image: -moz-linear-gradient(top, #060606, #252a30);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#060606), to(#252a30));
    background-image: -webkit-linear-gradient(top, #060606, #252a30);
    background-image: -o-linear-gradient(top, #060606, #252a30);
    background-image: linear-gradient(to bottom, #060606, #252a30);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff060606', endColorstr='#ff252a30', GradientType=0);
    overflow: hidden;
}

.outdated {
    background-image: none;
    background-repeat: none;
    background: rgba(231,56,39,1);
    background: -moz-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 39%, rgba(241,111,92,1) 70%, rgba(248,80,50,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,56,39,1)), color-stop(39%, rgba(240,47,23,1)), color-stop(70%, rgba(241,111,92,1)), color-stop(100%, rgba(248,80,50,1)));
    background: -webkit-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 39%, rgba(241,111,92,1) 70%, rgba(248,80,50,1) 100%);
    background: -o-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 39%, rgba(241,111,92,1) 70%, rgba(248,80,50,1) 100%);
    background: -ms-linear-gradient(top, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 39%, rgba(241,111,92,1) 70%, rgba(248,80,50,1) 100%);
    background: linear-gradient(to bottom, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 39%, rgba(241,111,92,1) 70%, rgba(248,80,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f85032', GradientType=0 );
}

/* fixme: check if vw works on mobile browsers, if not, replace with JS magic */
.page-header {
    margin-top: 0px;
    border-bottom: 1px dotted #333333;
    padding-bottom: 0px;
    display: block;
    font-size: 2.3vh;
    margin-bottom: 1.5vh;
}

h1 {
	margin-left: 1em;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Alegreya Sans', sans-serif;
    color: #FFFFFF;
    vertical-align: middle;
    display: inline;
    font-size: 100%;
}

/* fixme: check if vw works on mobile browsers, if not, replace with JS magic */
.main-title {
    display: inline-table;
    font-size: 3.1vw;
    margin-right: 0.2em;
}

.container-separator {
    border-right: 1px dotted #888888;
    margin-left: 0.4em;
    margin-right: 0.4em;
    color: rgb(153, 153, 153);
}

.usermsg-separator {
    border-right: 1px solid #888888;
    margin-left: 2em;
    margin-right: 2em;
    color: rgb(153, 153, 153);
}

.header-container {
    display: inline;
}

.topicon {
    font-size: 0.7em;
    margin-right: 5px;
}

#date {
    text-align: right;
}

#header-right-container {
    display: inline;
    vertical-align: middle;
    white-space:nowrap;
}

#clock-container {
   text-align: right;
   font-family: 'Architects Daughter', cursive;
   display: inline-table;
   font-size: 2.8vw;
}

.alert {
  /* part of this is being overwritten from JS */ 
  padding: 8px 3% 8px 14px;
  border: 0;
  margin-bottom: 0px;
}

/* colors for the tiles - gradients */
.alert-warn {
    background: rgba(245,245,35,1);
    background: -moz-linear-gradient(-45deg, rgba(245,245,35,1) 0%, rgba(250,133,30,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(245,245,35,1)), color-stop(100%, rgba(250,133,30,1)));
    background: -webkit-linear-gradient(-45deg, rgba(245,245,35,1) 0%, rgba(250,133,30,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(245,245,35,1) 0%, rgba(250,133,30,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(245,245,35,1) 0%, rgba(250,133,30,1) 100%);
    background: linear-gradient(135deg, rgba(245,245,35,1) 0%, rgba(250,133,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f523', endColorstr='#fa851e', GradientType=1 );
    color: #4d2b02;
}

.alert-error {
    background: rgba(255,87,87,1);
    background: -moz-linear-gradient(-45deg, rgba(255,87,87,1) 0%, rgba(255,20,20,1) 46%, rgba(255,20,20,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,87,87,1)), color-stop(46%, rgba(255,20,20,1)), color-stop(100%, rgba(255,20,20,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,87,87,1) 0%, rgba(255,20,20,1) 46%, rgba(255,20,20,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,87,87,1) 0%, rgba(255,20,20,1) 46%, rgba(255,20,20,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,87,87,1) 0%, rgba(255,20,20,1) 46%, rgba(255,20,20,1) 100%);
    background: linear-gradient(135deg, rgba(255,87,87,1) 0%, rgba(255,20,20,1) 46%, rgba(255,20,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5757', endColorstr='#ff1414', GradientType=1 );
    color: #ffffff;
}

.alert-down {
    background: rgba(69,69,69,1);
    background: -moz-linear-gradient(left, rgba(69,69,69,1) 0%, rgba(10,10,10,1) 49%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(69,69,69,1)), color-stop(49%, rgba(10,10,10,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(69,69,69,1) 0%, rgba(10,10,10,1) 49%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(69,69,69,1) 0%, rgba(10,10,10,1) 49%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(69,69,69,1) 0%, rgba(10,10,10,1) 49%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(69,69,69,1) 0%, rgba(10,10,10,1) 49%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#000000', GradientType=1 );   
    color: #ffffff;
}

.alert-unknown {
    background: rgba(209,0,209,1);
    background: -moz-linear-gradient(-45deg, rgba(209,0,209,1) 0%, rgba(209,0,209,1) 28%, rgba(130,0,130,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(209,0,209,1)), color-stop(28%, rgba(209,0,209,1)), color-stop(100%, rgba(130,0,130,1)));
    background: -webkit-linear-gradient(-45deg, rgba(209,0,209,1) 0%, rgba(209,0,209,1) 28%, rgba(130,0,130,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(209,0,209,1) 0%, rgba(209,0,209,1) 28%, rgba(130,0,130,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(209,0,209,1) 0%, rgba(209,0,209,1) 28%, rgba(130,0,130,1) 100%);
    background: linear-gradient(135deg, rgba(209,0,209,1) 0%, rgba(209,0,209,1) 28%, rgba(130,0,130,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d100d1', endColorstr='#820082', GradientType=1 );
    color: #ffffff;
}

.alert-info {
    color: #bbbbbb;
    background-color: #444444;
    border-color: #dcdcdc;
}

.alert-success {
    background-color: #3c6d0d;
    color: #FFFFFF;
}

#everything {
    font-family: 'Play', sans-serif;
    position: absolute;
}

#infobar {
    position: absolute;
    width:100%; 
    bottom:0px;
    font-size: 2.2vw;
    font-family: 'Play', sans-serif;
}

.alert-infobar {
    text-align: center;
    color: #bbbbbb;
    background-color: #030303;
    border-top: 1px solid #444444;

    /* any text that overflows should be hidden */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.alert.tile {
    text-align: right;
    height: 100%;   
}

.priority {
    float: left;
    text-align: left;
    height: 100%;
}

.service {
    display: block;
    /* any text that overflows should be hidden */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag_holder {
    position: absolute;
    text-align: right;
    display: block;
}

.alert-warn .dashtag {
    background-color: #ffce40;
}
.alert-error .dashtag {
    background-color: #ff4f4f;

}
.alert-down .dashtag {
    background-color: #171717;
}

.dashtag {
    display: inline-block; 
}

.alert-unknown .dashtag {
    background-color: #D52AD5;
}

#msg_container_outer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}


#msg_container_main {
    /* vertical align */
    /* https://css-tricks.com/centering-css-complete-guide/ */
    width: 70%;
    text-align: center;        
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#msg_container_main .msg_ok {
    font-family: 'Play', sans-serif;
    font-size: 9vw;   
    -moz-border-radius: 0.1em;
    border-radius: 0.1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;        
}

#msg_container_main .modal-content {
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
    -moz-border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
}

#msg_container_main .modal-header {
    text-align: left;
    font-size: 1.2vw;
    padding: 0.1em 0.1em 0.1em 0.6vw;
    color: #FFFFFF;
    background-color: #868686;
    -moz-border-radius: 0.5vw 0.5vw 0 0;
    border-radius: 0.5vw 0.5vw 0 0;
}

#msg_container_main .modal-body {
    font-size: 1.4vw;
    text-align: left;
    padding-left: 0.6vw;
    color: #545454;
    -moz-border-radius: 0 0 0.5vw 0.5vw;
    border-radius: 0 0 0.5vw 0.5vw;
}

/* spinner for the loading animation */ 
/* http://tobiasahlin.com/spinkit/ */
.spinner {
  font-size: 10px;
}

.spinner > div {
  background-color: #FFFFFF;
  height: 14vw;
  width: 1.5vw;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/* end of spinner */